{"openapi":"3.1.0","info":{"title":"Flume API","version":"1.0"},"servers":[{"url":"https://api.flumewater.com"}],"components":{"securitySchemes":{"sec0":{"type":"oauth2","flows":{}}}},"security":[{"sec0":[]}],"paths":{"/users/{user_id}":{"get":{"summary":"Fetch User","description":"Returns a single Flume user.","operationId":"fetch-single-user","parameters":[{"name":"user_id","in":"path","description":"ID of the user","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"code\": 602,\n  \"message\": \"Request OK\",\n  \"http_code\": 200,\n  \"http_message\": \"OK\",\n  \"detailed\": null,\n  \"data\": [\n    {\n      \"id\": 10000,\n      \"email_address\": \"user@example.com\",\n      \"first_name\": \"Flume\",\n      \"last_name\": \"Tech\",\n      \"phone\": \"1111111111\",\n      \"status\": \"Active\",\n      \"type\": \"USER\"\n    }\n  ],\n  \"count\": 1,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":602,"default":0},"message":{"type":"string","example":"Request OK"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":10000,"default":0},"email_address":{"type":"string","example":"user@example.com"},"first_name":{"type":"string","example":"Flume"},"last_name":{"type":"string","example":"Tech"},"phone":{"type":"string","example":"1111111111"},"status":{"type":"string","example":"Active"},"type":{"type":"string","example":"USER"}}}},"count":{"type":"integer","example":1,"default":0},"pagination":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"message\": \"invalid_request\",\n  \"http_code\": 400,\n  \"http_message\": \"Bad Request\",\n  \"detailed\": [\n    \"The access token was not found\"\n  ],\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"invalid_request"},"http_code":{"type":"integer","example":400,"default":0},"http_message":{"type":"string","example":"Bad Request"},"detailed":{"type":"array","items":{"type":"string","example":"The access token was not found"}},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"code\": 610,\n  \"message\": \"Record could not be found\",\n  \"http_code\": 404,\n  \"http_message\": \"Not Found\",\n  \"detailed\": null,\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"code":{"type":"integer","example":610,"default":0},"message":{"type":"string","example":"Record could not be found"},"http_code":{"type":"integer","example":404,"default":0},"http_message":{"type":"string","example":"Not Found"},"detailed":{},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}}},"deprecated":false}},"/users/{user_id}/devices":{"get":{"summary":"Fetch User's Devices","description":"Returns the devices associated with a user.\n\nBridge devices have `type=1`. Sensor devices have `type=2`.","operationId":"get-a-users-devices","parameters":[{"name":"user_id","in":"path","description":"ID of the user","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","description":"How many devices to return","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Offset of devices to return","schema":{"type":"integer","format":"int32","default":0}},{"name":"sort_field","in":"query","description":"Which field to sort devices on","schema":{"type":"string","default":"id"}},{"name":"sort_direction","in":"query","description":"Which direction to sort devices on","schema":{"type":"string","default":"ASC"}},{"name":"user","in":"query","description":"Include user data in response","schema":{"type":"boolean","default":false}},{"name":"location","in":"query","description":"Include location data in response","schema":{"type":"boolean","default":false}},{"name":"list_shared","in":"query","description":"Determines whether to include devices that have granted shared access to user","schema":{"type":"boolean","default":false}},{"name":"primary_location","in":"query","description":"Only include devices associated to a primary location if true. Exclude devices associated to a primary location if false.","schema":{"type":"boolean"}},{"name":"location_id","in":"query","description":"Find devices associated to a specified location ID","schema":{"type":"integer","format":"int32"}},{"name":"type","in":"query","description":"Filter devices by their type (Bridge: 1, Water Sensor: 2)","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"code\": 602,\n  \"message\": \"Request OK\",\n  \"http_code\": 200,\n  \"http_message\": \"OK\",\n  \"detailed\": null,\n  \"data\": [\n    {\n      \"id\": \"6721255604737738501\",\n      \"type\": 2,\n      \"location_id\": 44565,\n      \"user_id\": 1682,\n      \"bridge_id\": \"6782193059647718740\",\n      \"oriented\": true,\n      \"last_seen\": \"2021-12-29T05:47:34.000Z\",\n      \"connected\": true,\n      \"battery_level\": \"medium\",\n      \"product\": \"flume2\"\n    }\n  ],\n  \"count\": 1,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":602,"default":0},"message":{"type":"string","example":"Request OK"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"6721255604737738501"},"type":{"type":"integer","example":2,"default":0},"location_id":{"type":"integer","example":44565,"default":0},"user_id":{"type":"integer","example":1682,"default":0},"bridge_id":{"type":"string","example":"6782193059647718740"},"oriented":{"type":"boolean","example":true,"default":true},"last_seen":{"type":"string","example":"2021-12-29T05:47:34.000Z"},"connected":{"type":"boolean","example":true,"default":true},"battery_level":{"type":"string","example":"medium"},"product":{"type":"string","example":"flume2"}}}},"count":{"type":"integer","example":1,"default":0},"pagination":{}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"code\": 610,\n  \"message\": \"Record could not be found\",\n  \"http_code\": 404,\n  \"http_message\": \"Not Found\",\n  \"detailed\": null,\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"code":{"type":"integer","example":610,"default":0},"message":{"type":"string","example":"Record could not be found"},"http_code":{"type":"integer","example":404,"default":0},"http_message":{"type":"string","example":"Not Found"},"detailed":{},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}}},"deprecated":false}},"/users/{user_id}/devices/{device_id}":{"get":{"summary":"Fetch a User's Device","description":"Get a single user's device.","operationId":"get-a-user-device","parameters":[{"name":"user_id","in":"path","description":"ID of the user","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"device_id","in":"path","description":"ID of the device","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","description":"Include user in the response","schema":{"type":"boolean","default":false}},{"name":"location","in":"query","description":"Include location in the response","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"code\": 602,\n  \"message\": \"Request OK\",\n  \"http_code\": 200,\n  \"http_message\": \"OK\",\n  \"detailed\": null,\n  \"data\": [\n    {\n      \"id\": \"6721255604737738501\",\n      \"type\": 2,\n      \"location_id\": 44565,\n      \"user_id\": 1682,\n      \"bridge_id\": \"6782193059647718740\",\n      \"oriented\": true,\n      \"last_seen\": \"2021-12-29T05:47:34.000Z\",\n      \"connected\": true,\n      \"battery_level\": \"medium\",\n      \"product\": \"flume2\"\n    }\n\t],\n\t\"count\": 1,\n\t\"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":602,"default":0},"message":{"type":"string","example":"Request OK"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"6721255604737738501"},"type":{"type":"integer","example":2,"default":0},"location_id":{"type":"integer","example":44565,"default":0},"user_id":{"type":"integer","example":1682,"default":0},"bridge_id":{"type":"string","example":"6782193059647718740"},"oriented":{"type":"boolean","example":true,"default":true},"last_seen":{"type":"string","example":"2021-12-29T05:47:34.000Z"},"connected":{"type":"boolean","example":true,"default":true},"battery_level":{"type":"string","example":"medium"},"product":{"type":"string","example":"flume2"}}}},"count":{"type":"integer","example":1,"default":0},"pagination":{}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"code\": 610,\n  \"message\": \"Record could not be found\",\n  \"http_code\": 404,\n  \"http_message\": \"Not Found\",\n  \"detailed\": null,\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"code":{"type":"integer","example":610,"default":0},"message":{"type":"string","example":"Record could not be found"},"http_code":{"type":"integer","example":404,"default":0},"http_message":{"type":"string","example":"Not Found"},"detailed":{},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}}},"deprecated":false}},"/users/{user_id}/locations":{"get":{"summary":"Fetch User's Locations","description":"Fetches a list of the user's locations.","operationId":"get-a-users-locations","parameters":[{"name":"limit","in":"query","description":"Max number of locations to return","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Offset of locations to return","schema":{"type":"integer","format":"int32","default":0}},{"name":"sort_field","in":"query","description":"Field to sort locations on","schema":{"type":"string","default":"id"}},{"name":"sort_direction","in":"query","description":"Which direction to sort locations on","schema":{"type":"string","default":"ASC"}},{"name":"user_id","in":"path","description":"ID of the user","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"list_shared","in":"query","description":"Determines whether to include locations that have granted shared access to user","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"code\": 602,\n  \"message\": \"Request OK\",\n  \"http_code\": 200,\n  \"http_message\": \"OK\",\n  \"detailed\": null,\n  \"data\": [\n    {\n      \"id\": 100,\n      \"user_id\": 1500,\n      \"name\": \"Flume Location\",\n      \"primary_location\": true,\n      \"address\": null,\n      \"address_2\": null,\n      \"city\": null,\n      \"state\": null,\n      \"postal_code\": \"94056\",\n      \"country\": null,\n      \"tz\": \"America/Los_Angeles\",\n      \"installation\": \"DONE\",\n      \"building_type\": \"SINGLE_FAMILY_HOME\",\n      \"usage_profile\": {\n        \"id\": 3,\n        \"score\": 4,\n        \"residents\": \"4\",\n        \"bathrooms\": \"2\",\n        \"irrigation\": \"GARDEN_HOSE\",\n        \"irrigation_freq\": \"4+_PER_WEEK\",\n        \"irrigation_max_cycle\": 120\n      },\n      \n    },\n    {\n      \"id\": 4,\n      \"user_id\": 1500,\n      \"name\": \"Primary Residence\",\n      \"primary_location\": false,\n      \"address\": null,\n      \"address_2\": null,\n      \"city\": null,\n      \"state\": null,\n      \"postal_code\": \"93013\",\n      \"country\": null,\n      \"tz\": \"America/Los_Angeles\",\n      \"installation\": \"DONE\",\n      \"building_type\": \"SINGLE_FAMILY_HOME\",\n      \"usage_profile\": {\n        \"id\": 10,\n        \"score\": 0,\n        \"residents\": \"1\",\n        \"bathrooms\": \"2\",\n        \"irrigation\": \"NONE\",\n        \"irrigation_freq\": \"N/A\",\n        \"irrigation_max_cycle\": 0\n      }\n    }\n  ],\n  \"count\": 2,\n  \"pagination\": null\n}"}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"message\": \"invalid_request\",\n  \"http_code\": 400,\n  \"http_message\": \"Bad Request\",\n  \"detailed\": [\n    \"The access token was not found\"\n  ],\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"invalid_request"},"http_code":{"type":"integer","example":400,"default":0},"http_message":{"type":"string","example":"Bad Request"},"detailed":{"type":"array","items":{"type":"string","example":"The access token was not found"}},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}}},"deprecated":false}},"/users/{user_id}/locations/{location_id}":{"get":{"summary":"Fetch a User Location","description":"Fetch a specific location.","operationId":"fetch-a-user-location","parameters":[{"name":"user_id","in":"path","description":"ID of the user","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"location_id","in":"path","description":"ID of the location","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"code\": 602,\n  \"message\": \"Request OK\",\n  \"http_code\": 200,\n  \"http_message\": \"OK\",\n  \"detailed\": null,\n  \"data\": [\n    {\n      \"id\": 14,\n      \"user_id\": 1500,\n      \"name\": \"Primary Residence\",\n      \"primary_location\": 1,\n      \"address\": null,\n      \"address_2\": null,\n      \"city\": null,\n      \"state\": null,\n      \"postal_code\": \"93014\",\n      \"country\": null,\n      \"tz\": \"America/Los_Angeles\",\n      \"installation\": \"DONE\",\n      \"building_type\": \"SINGLE_FAMILY_HOME\",\n      \"usage_profile\": {\n        \"id\": 13,\n        \"score\": 4,\n        \"residents\": \"4\",\n        \"bathrooms\": \"3\",\n        \"irrigation\": \"SOAKER_HOSE\",\n        \"irrigation_freq\": \"1_PER_WEEK\",\n        \"irrigation_max_cycle\": 360\n      }\n    }\n  ],\n  \"count\": 1,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":602,"default":0},"message":{"type":"string","example":"Request OK"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":14,"default":0},"user_id":{"type":"integer","example":1500,"default":0},"name":{"type":"string","example":"Primary Residence"},"primary_location":{"type":"integer","example":1,"default":0},"address":{},"address_2":{},"city":{},"state":{},"postal_code":{"type":"string","example":"93014"},"country":{},"tz":{"type":"string","example":"America/Los_Angeles"},"installation":{"type":"string","example":"DONE"},"building_type":{"type":"string","example":"SINGLE_FAMILY_HOME"},"usage_profile":{"type":"object","properties":{"id":{"type":"integer","example":13,"default":0},"score":{"type":"integer","example":4,"default":0},"residents":{"type":"string","example":"4"},"bathrooms":{"type":"string","example":"3"},"irrigation":{"type":"string","example":"SOAKER_HOSE"},"irrigation_freq":{"type":"string","example":"1_PER_WEEK"},"irrigation_max_cycle":{"type":"integer","example":360,"default":0}}}}}},"count":{"type":"integer","example":1,"default":0},"pagination":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"message\": \"invalid_request\",\n  \"http_code\": 400,\n  \"http_message\": \"Bad Request\",\n  \"detailed\": [\n    \"The access token was not found\"\n  ],\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"invalid_request"},"http_code":{"type":"integer","example":400,"default":0},"http_message":{"type":"string","example":"Bad Request"},"detailed":{"type":"array","items":{"type":"string","example":"The access token was not found"}},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"code\": 610,\n  \"message\": \"Record could not be found\",\n  \"http_code\": 404,\n  \"http_message\": \"Not Found\",\n  \"detailed\": null,\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"code":{"type":"integer","example":610,"default":0},"message":{"type":"string","example":"Record could not be found"},"http_code":{"type":"integer","example":404,"default":0},"http_message":{"type":"string","example":"Not Found"},"detailed":{},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}}},"deprecated":false},"patch":{"summary":"Update a User Location","description":"Update a specific location.","operationId":"update-a-user-location","parameters":[{"name":"user_id","in":"path","description":"ID of the user","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"location_id","in":"path","description":"ID of the location","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"away_mode":{"type":"boolean","description":"Setting this to true activates [Away Mode](https://help.flumetech.com/en/articles/3684983-away-mode)"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"code\": 612,\n    \"message\": \"Record successfully updated\",\n    \"http_code\": 200,\n    \"http_message\": \"OK\",\n    \"detailed\": null,\n    \"data\": [],\n    \"count\": 0,\n    \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":612,"default":0},"message":{"type":"string","example":"Record successfully updated"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": false,\n    \"code\": 94,\n    \"message\": \"A provided parameter failed validation\",\n    \"http_code\": 400,\n    \"http_message\": \"Bad Request\",\n    \"detailed\": null,\n    \"data\": [],\n    \"count\": 0,\n    \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"code":{"type":"integer","example":94,"default":0},"message":{"type":"string","example":"A provided parameter failed validation"},"http_code":{"type":"integer","example":400,"default":0},"http_message":{"type":"string","example":"Bad Request"},"detailed":{},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"code\": 610,\n  \"message\": \"Record could not be found\",\n  \"http_code\": 404,\n  \"http_message\": \"Not Found\",\n  \"detailed\": null,\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"code":{"type":"integer","example":610,"default":0},"message":{"type":"string","example":"Record could not be found"},"http_code":{"type":"integer","example":404,"default":0},"http_message":{"type":"string","example":"Not Found"},"detailed":{},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}}},"deprecated":false}},"/users/{user_id}/devices/{device_id}/query":{"post":{"summary":"Query a User's Device","description":"Ask a device questions about its water usage. See [Querying Samples](https://flumetech.readme.io/v1.0/docs/querying-samples) for detailed info. The \"Content-Type\" header must be set to \"application/json\".","operationId":"query-a-user-device","parameters":[{"name":"user_id","in":"path","description":"ID of the user","schema":{"type":"integer","format":"int32"},"required":true},{"name":"device_id","in":"path","description":"ID of the device","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["queries"],"properties":{"queries":{"type":"array","description":"Array of questions to ask. See [Querying Samples](https://flumetech.readme.io/v1.0/docs/querying-samples) for detailed info","items":{"properties":{"request_id":{"type":"string","description":"The ID for this query."},"bucket":{"type":"string","description":"The bucket size."},"since_datetime":{"type":"string","description":"Lower time constraint."},"until_datetime":{"type":"string","description":"Upper time constraint."},"group_multiplier":{"type":"string","description":"The group multiplier."},"operation":{"type":"string","description":"The optional type of aggregate/accumulate operation to perform. Options are SUM, AVG, MIN, MAX, CNT"},"sort_direction":{"type":"string","description":"Ascending and descending supported. Which way to sort the results."},"units":{"type":"string","description":"The unit of measurement to return the water usage data by. Options are GALLONS, LITERS, CUBIC_FEET, and CUBIC_METERS.","default":"GALLONS"},"types":{"type":"array","description":"List of water types to include in the output. The \"all\" type returns total usage using the \"value\" field in each output object. Other values can be found in Water Types, and appear in the \"types\" field in each output object.","default":[],"items":{"type":"string"}}},"required":["request_id","bucket"],"type":"object"}}}},"examples":{"Request Example":{"value":{"queries":[{"request_id":"abc","bucket":"MON","since_datetime":"2016-04-04 01:00:00","group_multiplier":3},{"request_id":"xyz","bucket":"DAY","since_datetime":"2016-04-04 01:00:00","until_datetime":"2016-04-07 01:00:00"}]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"code\": 602,\n  \"message\": \"Request OK\",\n  \"http_code\": 200,\n  \"http_message\": \"OK\",\n  \"detailed\": null,\n  \"data\": [\n    {\n      \"abc\": [\n        {\n          \"datetime\": \"2016-04-01 00:00:00\",\n          \"value\": 20\n        },\n        {\n          \"datetime\": \"2016-07-01 00:00:00\",\n          \"value\": 35.5\n        },\n        {\n          \"datetime\": \"2016-10-01 00:00:00\",\n          \"value\": 40\n        }\n      ],\n      \"xyz\": [\n        {\n          \"datetime\": \"2016-04-04 00:00:00\",\n          \"value\": 1000\n        },\n        {\n          \"datetime\": \"2016-04-05 00:00:00\",\n          \"value\": 200\n        },\n        {\n          \"datetime\": \"2016-04-06 00:00:00\",\n          \"value\": 21\n        },\n        {\n          \"datetime\": \"2016-04-07 00:00:00\",\n          \"value\": 30\n        }\n      ]\n    }\n  ],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":602,"default":0},"message":{"type":"string","example":"Request OK"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"abc":{"type":"array","items":{"type":"object","properties":{"datetime":{"type":"string","example":"2016-04-01 00:00:00"},"value":{"type":"integer","example":20,"default":0}}}},"xyz":{"type":"array","items":{"type":"object","properties":{"datetime":{"type":"string","example":"2016-04-04 00:00:00"},"value":{"type":"integer","example":1000,"default":0}}}}}}},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"code\": 610,\n  \"message\": \"Record could not be found\",\n  \"http_code\": 404,\n  \"http_message\": \"Not Found\",\n  \"detailed\": null,\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"code":{"type":"integer","example":610,"default":0},"message":{"type":"string","example":"Record could not be found"},"http_code":{"type":"integer","example":404,"default":0},"http_message":{"type":"string","example":"Not Found"},"detailed":{},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --request POST \\\n  --url https://api.flumetech.com/users/user_id/devices/device_id/query \\\n  --header 'content-type: application/json' \\\n  --header 'authorization: Bearer token' \\\n  --data '{\"queries\":[{\"request_id\":\"abc\",\"bucket\":\"MON\",\"since_datetime\":\"2016-04-04 01:00:00\",\"group_multiplier\":3},{\"request_id\":\"xyz\",\"bucket\":\"DAY\",\"since_datetime\":\"2016-04-04 01:00:00\",\"until_datetime\":\"2016-04-07 01:00:00\"}]}'"},{"language":"javascript","code":"var request = require(\"request\");\n\nvar options = {\n  method: 'POST',\n  url: 'https://api.flumetech.com/users/user_id/devices/device_id/query',\n  headers: {'content-type': 'application/json', 'authorization': 'Bearer token'},\n  body: '{\"queries\":[{\"request_id\":\"abc\",\"bucket\":\"MON\",\"since_datetime\":\"2016-04-04 01:00:00\",\"group_multiplier\":3},{\"request_id\":\"xyz\",\"bucket\":\"DAY\",\"since_datetime\":\"2016-04-04 01:00:00\",\"until_datetime\":\"2016-04-07 01:00:00\"}]}'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n","name":"Node"},{"language":"ruby","code":"require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://api.flumetech.com/users/user_id/devices/device_id/query\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"authorization\"] = 'Bearer token'\nrequest.body = \"{ \\\"queries\\\": [{ \\\"request_id\\\": \\\"abc\\\", \\\"bucket\\\": \\\"MON\\\", \\\"since_datetime\\\": \\\"2016-04-04 01:00:00\\\", \\\"group_multiplier\\\": 3 }, { \\\"request_id\\\": \\\"xyz\\\", \\\"bucket\\\": \\\"DAY\\\", \\\"since_datetime\\\": \\\"2016-04-04 01:00:00\\\", \\\"until_datetime\\\": \\\"2016-04-07 01:00:00\\\" }] }\"\n\nresponse = http.request(request)\nputs response.read_body"},{"language":"javascript","code":"var data = '{\"queries\":[{\"request_id\":\"abc\",\"bucket\":\"MON\",\"since_datetime\":\"2016-04-04 01:00:00\",\"group_multiplier\":3},{\"request_id\":\"xyz\",\"bucket\":\"DAY\",\"since_datetime\":\"2016-04-04 01:00:00\",\"until_datetime\":\"2016-04-07 01:00:00\"}]}';\n\nvar xhr = new XMLHttpRequest();\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://api.flumetech.com/users/user_id/devices/device_id/query\");\nxhr.setRequestHeader(\"content-type\", \"application/json\");\nxhr.setRequestHeader(\"authorization\", \"Bearer token\");\n\nxhr.send(data);"},{"language":"python","code":"import requests\n\nurl = \"https://api.flumetech.com/users/user_id/devices/device_id/query\"\n\nheaders = {\n    'Content-Type': 'application/json',\n    'Authorization': 'Bearer token'\n}\n\npayload = { \"queries\": [{ \"request_id\": \"abc\", \"bucket\": \"MON\", \"since_datetime\": \"2016-04-04 01:00:00\", \"group_multiplier\": 3 }, { \"request_id\": \"xyz\", \"bucket\": \"DAY\", \"since_datetime\": \"2016-04-04 01:00:00\", \"until_datetime\": \"2016-04-07 01:00:00\" }] }\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"}],"samples-languages":["curl","javascript","ruby","python"]}}},"/users/{user_id}/subscriptions":{"get":{"summary":"Fetch All Current Subscriptions","description":"Fetch all devices the current user is subscribed to.","operationId":"get-current-subscriptions","parameters":[{"name":"user_id","in":"path","description":"ID of the user","schema":{"type":"integer","format":"int32"},"required":true},{"name":"limit","in":"query","description":"How many subscriptions to return","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Offset of subscriptions to return","schema":{"type":"integer","format":"int32","default":0}},{"name":"sort_field","in":"query","description":"Which field to sort the subscriptions on","schema":{"type":"string","default":"id"}},{"name":"sort_direction","in":"query","description":"The direction to sort the subscriptions on","schema":{"type":"string","default":"ASC"}},{"name":"alert_type","in":"query","description":"Only return subscriptions with this alert type","schema":{"type":"string"}},{"name":"notification_types","in":"query","description":"Only return subscriptions that subscribe to the exact bitmask of notification types","schema":{"type":"integer","format":"int32"}},{"name":"notification_type","in":"query","description":"1(LEAK), 2 (Budget), 4 (General). Return all subscriptions that contains the bit. Example: 1 would return notification_types 1, 3, 5 and 7","schema":{"type":"integer","format":"int32"}},{"name":"device_id","in":"query","description":"Only return subscriptions that are for this device","schema":{"type":"string"}},{"name":"device_type","in":"query","description":"Only return subscriptions for devices of this type","schema":{"type":"integer","format":"int32"}},{"name":"location_id","in":"query","description":"Only return subscriptions that are associated to a device at this location","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"code\": 602,\n  \"message\": \"Request OK\",\n  \"http_code\": 200,\n  \"http_message\": \"OK\",\n  \"detailed\": null,\n  \"data\": [\n    {\n      \"id\": 33,\n      \"user_id\": 1594,\n      \"alert_type\": \"IOS\",\n      \"alert_info\": \"68d7012919c8a3e0\",\n      \"device_id\": \"6234820280525070850\",\n      \"notification_types\": 2,\n      \"created_datetime\": \"2017-03-05T01:28:08.018Z\",\n      \"updated_datetime\": \"2017-03-05T01:28:08.018Z\"\n    },\n    {\n      \"id\": 34,\n      \"user_id\": 1594,\n      \"alert_type\": \"IOS\",\n      \"alert_info\": \"68d7012919c8\",\n      \"device_id\": \"6234820231363829376\",\n      \"notification_types\": 2,\n      \"created_datetime\": \"2017-03-05T01:28:08.018Z\",\n      \"updated_datetime\": \"2017-03-05T01:28:08.018Z\"\n    }\n  ],\n  \"count\": 11,\n  \"pagination\": {\n    \"next\": \"/users/1594/subscriptions?offset=2&limit=2\",\n    \"prev\": null\n  }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":602,"default":0},"message":{"type":"string","example":"Request OK"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":33,"default":0},"user_id":{"type":"integer","example":1594,"default":0},"alert_type":{"type":"string","example":"IOS"},"alert_info":{"type":"string","example":"68d7012919c8a3e0"},"device_id":{"type":"string","example":"6234820280525070850"},"notification_types":{"type":"integer","example":2,"default":0},"created_datetime":{"type":"string","example":"2017-03-05T01:28:08.018Z"},"updated_datetime":{"type":"string","example":"2017-03-05T01:28:08.018Z"}}}},"count":{"type":"integer","example":11,"default":0},"pagination":{"type":"object","properties":{"next":{"type":"string","example":"/users/1594/subscriptions?offset=2&limit=2"},"prev":{}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"code\": 94,\n  \"message\": \"A provided parameter failed validation\",\n  \"http_code\": 400,\n  \"http_message\": \"Bad Request\",\n  \"detailed\": [\n    \"Provide a positive limit\",\n    \"Provide a positive offset\",\n    \"Sort field [sort_field] is not a valid field\",\n    \"Sort direction is not a valid direction {ASC/DESC}\",\n    \"Alert type [alert_type] is not a valid alert type\",\n    \"Notification type [notification_type] is not a valid notification type\"\n  ],\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"code":{"type":"integer","example":94,"default":0},"message":{"type":"string","example":"A provided parameter failed validation"},"http_code":{"type":"integer","example":400,"default":0},"http_message":{"type":"string","example":"Bad Request"},"detailed":{"type":"array","items":{"type":"string","example":"Provide a positive limit"}},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}}},"deprecated":false}},"/users/{user_id}/subscriptions/{subscription_id}":{"get":{"summary":"Fetch a Single Subscription","description":"","operationId":"get-single-subscription","parameters":[{"name":"user_id","in":"path","description":"ID of the user","schema":{"type":"integer","format":"int32"},"required":true},{"name":"subscription_id","in":"path","description":"ID of the subscription","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"code\": 602,\n  \"message\": \"Request OK\",\n  \"http_code\": 200,\n  \"http_message\": \"OK\",\n  \"detailed\": null,\n  \"data\": [\n    {\n      \"id\": 43,\n      \"user_id\": 1594,\n      \"alert_type\": \"EMAIL\",\n      \"alert_info\": \"flume@example.com\",\n      \"device_id\": \"6234820280525070850\",\n      \"notification_types\": 2,\n      \"created_datetime\": \"2017-03-10T19:20:43.480Z\",\n      \"updated_datetime\": \"2017-03-10T19:38:02.504Z\"\n    }\n  ],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":602,"default":0},"message":{"type":"string","example":"Request OK"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":43,"default":0},"user_id":{"type":"integer","example":1594,"default":0},"alert_type":{"type":"string","example":"EMAIL"},"alert_info":{"type":"string","example":"flume@example.com"},"device_id":{"type":"string","example":"6234820280525070850"},"notification_types":{"type":"integer","example":2,"default":0},"created_datetime":{"type":"string","example":"2017-03-10T19:20:43.480Z"},"updated_datetime":{"type":"string","example":"2017-03-10T19:38:02.504Z"}}}},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"code\": 0,\n  \"message\": \"subscription with id [subscription_id] cannot be found\",\n  \"http_code\": 404,\n  \"http_message\": \"Not Found\",\n  \"detailed\": null,\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"code":{"type":"integer","example":0,"default":0},"message":{"type":"string","example":"subscription with id [subscription_id] cannot be found"},"http_code":{"type":"integer","example":404,"default":0},"http_message":{"type":"string","example":"Not Found"},"detailed":{},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}}},"deprecated":false}},"/users/{user_id}/notifications":{"get":{"summary":"Fetch User Notifications","description":"Fetches all notifications from devices owned by the user.","operationId":"get-all-notifications-sent-from-a-users-devices","parameters":[{"name":"user_id","in":"path","description":"ID of the user","schema":{"type":"integer","format":"int32"},"required":true},{"name":"limit","in":"query","description":"How many notifications to return","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Offset of notifications to return","schema":{"type":"integer","format":"int32","default":0}},{"name":"sort_field","in":"query","description":"Which field to sort notifications on","schema":{"type":"string","default":"created_datetime"}},{"name":"sort_direction","in":"query","description":"Which direction to sort notifications on","schema":{"type":"string","default":"ASC"}},{"name":"device_id","in":"query","description":"Return notifications sent from device with this specific device_id","schema":{"type":"string"}},{"name":"location_id","in":"query","description":"Returns notifications for this location","schema":{"type":"integer","format":"int32"}},{"name":"type","in":"query","description":"Filter by notifications by this [type](https://flumetech.readme.io/v1.0/docs/notification-constants)","schema":{"type":"integer","format":"int32"}},{"name":"types","in":"query","description":"Return notifications of the bitmask of notification types","schema":{"type":"integer","format":"int32"}},{"name":"read","in":"query","description":"Filter by notifications that are read or not","schema":{"type":"boolean"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"code\": 602,\n  \"message\": \"Request OK\",\n  \"http_code\": 200,\n  \"http_message\": \"OK\",\n  \"detailed\": null,\n  \"data\": [\n    {\n      \"id\": 1,\n      \"device_id\": \"6234820280525070850\",\n      \"user_id\": 1503,\n      \"type\": 2,\n      \"message\": \"test message\",\n      \"created_datetime\": \"2017-03-01T03:27:44.000Z\",\n      \"title\": \"test\",\n      \"read\": false,\n      \"extra\": null\n    },\n    {\n      \"id\": 2,\n      \"device_id\": \"6234820280525070850\",\n      \"user_id\": 1503,\n      \"event_rule\": \"100% of DAILY budget\",\n      \"type\": 2,\n      \"message\": \"test message\",\n      \"created_datetime\": \"2017-03-01T23:05:54.000Z\",\n      \"title\": \"test\",\n      \"read\": false,\n      \"extra\": {\n        \"percentage\": 100,\n        \"budget_type\": \"DAILY\",\n        \"budget_start\": \"2017-03-01T08:00:00.000Z\",\n        \"event_rule_name\": \"100% of daily budget\"\n      }\n    }\n  ],\n  \"count\": 17,\n  \"pagination\": {\n    \"next\": \"/users/1594/notifications?offset=2&limit=2\",\n    \"prev\": null\n  }\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":602,"default":0},"message":{"type":"string","example":"Request OK"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":1,"default":0},"device_id":{"type":"string","example":"6234820280525070850"},"user_id":{"type":"integer","example":1503,"default":0},"type":{"type":"integer","example":2,"default":0},"message":{"type":"string","example":"test message"},"created_datetime":{"type":"string","example":"2017-03-01T03:27:44.000Z"},"title":{"type":"string","example":"test"},"read":{"type":"boolean","example":false,"default":true},"extra":{}}}},"count":{"type":"integer","example":17,"default":0},"pagination":{"type":"object","properties":{"next":{"type":"string","example":"/users/1594/notifications?offset=2&limit=2"},"prev":{}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"code\": 94,\n  \"message\": \"A provided parameter failed validation\",\n  \"http_code\": 400,\n  \"http_message\": \"Bad Request\",\n  \"detailed\": [\n    \"Provide a positive limit\",\n    \"Provide a positive offset\",\n    \"Sort field [sort_field] is not a valid field\",\n    \"Sort direction is not a valid direction {ASC/DESC}\",\n    \"device with id [device_id] is not found\",\n    \"notification type [notification_type] is not valid\"\n  ],\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"code":{"type":"integer","example":94,"default":0},"message":{"type":"string","example":"A provided parameter failed validation"},"http_code":{"type":"integer","example":400,"default":0},"http_message":{"type":"string","example":"Bad Request"},"detailed":{"type":"array","items":{"type":"string","example":"Provide a positive limit"}},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}}},"deprecated":false}},"/users/{user_id}/devices/{device_id}/budgets":{"get":{"summary":"Fetch a Device's Budgets","description":"Fetch a sensor device's budgets.","operationId":"get-a-users-device-budgets","parameters":[{"name":"limit","in":"query","description":"Max number of budgets to return","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Offset of budgets to return","schema":{"type":"integer","format":"int32","default":0}},{"name":"sort_field","in":"query","description":"Field to sort budgets on","schema":{"type":"string","default":"id"}},{"name":"sort_direction","in":"query","schema":{"type":"string","default":"ASC"}},{"name":"user_id","in":"path","description":"ID of the user","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"device_id","in":"path","description":"ID of the device","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"code\": 602,\n  \"message\": \"Request OK\",\n  \"http_code\": 200,\n  \"http_message\": \"OK\",\n  \"detailed\": null,\n  \"data\": [\n    {\n      \"id\": 3,\n      \"name\": \"Francis's budget\",\n      \"type\": \"DAILY\",\n      \"value\": 1000,\n      \"thresholds\": [\n        200,\n        300,\n        500\n      ],\n      \"actual\": 3218\n    },\n    {\n      \"id\": 4,\n      \"name\": \"Francis's monthly budget\",\n      \"type\": \"MONTHLY\",\n      \"value\": 4000,\n      \"thresholds\": [\n        200,\n        300,\n        500\n      ],\n      \"actual\": 69216\n    }\n  ],\n  \"count\": 2,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":602,"default":0},"message":{"type":"string","example":"Request OK"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":3,"default":0},"name":{"type":"string","example":"Francis's budget"},"type":{"type":"string","example":"DAILY"},"value":{"type":"integer","example":1000,"default":0},"thresholds":{"type":"array","items":{"type":"integer","example":200,"default":0}},"actual":{"type":"integer","example":3218,"default":0}}}},"count":{"type":"integer","example":2,"default":0},"pagination":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"message\": \"invalid_request\",\n  \"http_code\": 400,\n  \"http_message\": \"Bad Request\",\n  \"detailed\": [\n    \"The access token was not found\"\n  ],\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"invalid_request"},"http_code":{"type":"integer","example":400,"default":0},"http_message":{"type":"string","example":"Bad Request"},"detailed":{"type":"array","items":{"type":"string","example":"The access token was not found"}},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}}},"deprecated":false}},"/contacts":{"get":{"summary":"Fetch all Flume Contact Info","description":"","operationId":"fetch-all-flume-contact-info","parameters":[{"name":"limit","in":"query","description":"Max number of contacts to return","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Offset of contacts to return","schema":{"type":"integer","format":"int32","default":0}},{"name":"sort_field","in":"query","description":"Field to sort contacts on","schema":{"type":"string","default":"id"}},{"name":"sort_direction","in":"query","schema":{"type":"string","default":"ASC"}},{"name":"type","in":"query","description":"Filter by this type of contact information. [Found Here](https://flumetech.readme.io/docs/contact-constants#section-types)","schema":{"type":"string"}},{"name":"category","in":"query","description":"Filter by this category of contact information. [Found Here](https://flumetech.readme.io/docs/contact-constants#section-categories)","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"code\": 602,\n  \"message\": \"Request OK\",\n  \"http_code\": 200,\n  \"http_message\": \"OK\",\n  \"detailed\": null,\n  \"data\": [\n    {\n      \"id\": 2,\n      \"category\": \"SUPPORT\",\n      \"type\": \"EMAIL\",\n      \"detail\": \"support@flumetech.com\"\n    },\n    {\n      \"id\": 3,\n      \"category\": \"SUPPORT\",\n      \"type\": \"PHONE\",\n      \"detail\": \"8059184604\"\n    }\n  ],\n  \"count\": 2,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":602,"default":0},"message":{"type":"string","example":"Request OK"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":2,"default":0},"category":{"type":"string","example":"SUPPORT"},"type":{"type":"string","example":"EMAIL"},"detail":{"type":"string","example":"support@flumetech.com"}}}},"count":{"type":"integer","example":2,"default":0},"pagination":{}}}}}}},"deprecated":false,"security":[]}},"/users/{user_id}/devices/{device_id}/rules":{"get":{"summary":"Fetch All Event Rules for a Device","description":"Fetch all event rules for a device.","operationId":"fetch-all-event-rules-for-a-device","parameters":[{"name":"user_id","in":"path","description":"ID of the user","schema":{"type":"string"},"required":true},{"name":"device_id","in":"path","description":"ID of the device","schema":{"type":"string"},"required":true},{"name":"limit","in":"query","description":"Max number of event rules to return","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Offset of event rules to return","schema":{"type":"integer","format":"int32","default":0}},{"name":"sort_field","in":"query","description":"Field to sort event rules on","schema":{"type":"string","default":"id"}},{"name":"sort_direction","in":"query","schema":{"type":"string","default":"ASC"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"code\": 602,\n    \"message\": \"Request OK\",\n    \"http_code\": 200,\n    \"http_message\": \"OK\",\n    \"detailed\": null,\n    \"data\": [\n        {\n            \"id\": \"1\",\n            \"name\": \"Low Flow\",\n            \"active\": true,\n            \"flow_rate\": 4.4,\n            \"duration\": 6,\n            \"notify_every\": 12,\n            \"notification_type\": \"USAGE_ALERT\"\n        },\n        {\n            \"id\": \"2\",\n            \"name\": \"High Flow\",\n            \"active\": true,\n            \"flow_rate\": 15,\n            \"duration\": 10,\n            \"notify_every\": 60,\n            \"notification_type\": \"USAGE_ALERT\"\n        }\n    ],\n    \"count\": 0,\n    \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":602,"default":0},"message":{"type":"string","example":"Request OK"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"1"},"name":{"type":"string","example":"Low Flow"},"active":{"type":"boolean","example":true,"default":true},"flow_rate":{"type":"number","example":4.4,"default":0},"duration":{"type":"integer","example":6,"default":0},"notify_every":{"type":"integer","example":12,"default":0},"notification_type":{"type":"string","example":"USAGE_ALERT"}}}},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"message\": \"invalid_request\",\n  \"http_code\": 400,\n  \"http_message\": \"Bad Request\",\n  \"detailed\": [\n    \"The access token was not found\"\n  ],\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"invalid_request"},"http_code":{"type":"integer","example":400,"default":0},"http_message":{"type":"string","example":"Bad Request"},"detailed":{"type":"array","items":{"type":"string","example":"The access token was not found"}},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"message\": \"Caller does not have access to the information requested\",\n  \"http_code\": 403,\n  \"http_message\": \"Forbidden\",\n  \"detailed\": [\n    \"You do not have the access permissions to access this route\"\n  ],\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"Caller does not have access to the information requested"},"http_code":{"type":"integer","example":403,"default":0},"http_message":{"type":"string","example":"Forbidden"},"detailed":{"type":"array","items":{"type":"string","example":"You do not have the access permissions to access this route"}},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}}},"deprecated":false}},"/oauth/token":{"post":{"summary":"Get Tokens","description":"Returns the access and refresh tokens for a user of the API. If user didn't finish signing up, it will return a 403 error. To retrieve the `user_id`, the JWT token needs to be decoded. The \"Content-Type\" header must be set to \"application/json\". See the <a href=\"https://flumetech.readme.io/docs/authentication\">Authentication</a> page for more info.","operationId":"get-tokens","parameters":[{"name":"envelope","in":"query","description":"Whether to envelope the token response in Flume's custom formatting.","schema":{"type":"boolean","default":true}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["grant_type","client_id","client_secret","username","password"],"properties":{"grant_type":{"type":"string","description":"Must be \"password\".","default":"password"},"client_id":{"type":"string","description":"Client ID provided by Flume."},"client_secret":{"type":"string","description":"Client secret provided by Flume."},"username":{"type":"string","description":"Email address of user attempting to login."},"password":{"type":"string","description":"Password of user attempting to login."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"code\": 602,\n  \"message\": \"Request OK\",\n  \"http_code\": 200,\n  \"http_message\": \"OK\",\n  \"detailed\": null,\n  \"data\": [\n    {\n      \"token_type\": \"bearer\",\n      \"access_token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c\",\n      \"expires_in\": 604800,\n      \"refresh_token\": \"fdb8fdbecf1d03ce5e6125c067733c0d51de209c\"\n    }\n  ],\n  \"count\": 1,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":602,"default":0},"message":{"type":"string","example":"Request OK"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"token_type":{"type":"string","example":"bearer"},"access_token":{"type":"string","example":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"},"expires_in":{"type":"integer","example":604800,"default":0},"refresh_token":{"type":"string","example":"fdb8fdbecf1d03ce5e6125c067733c0d51de209c"}}}},"count":{"type":"integer","example":1,"default":0},"pagination":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"message\": \"invalid_client\",\n  \"http_code\": 400,\n  \"http_message\": \"Bad Request\",\n  \"detailed\": [\n    \"Client credentials are invalid\"\n  ],\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"invalid_client"},"http_code":{"type":"integer","example":400,"default":0},"http_message":{"type":"string","example":"Bad Request"},"detailed":{"type":"array","items":{"type":"string","example":"Client credentials are invalid"}},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": false,\n    \"message\": \"unverified_user\",\n    \"http_code\": 403,\n    \"http_message\": \"Forbidden\",\n    \"detailed\": null,\n    \"data\": [\n        {\n            \"verified\": false,\n            \"email_address\": \"user@example.com\",\n            \"phone\": \"4444444444\",\n            \"first_name\": \"Flume\",\n            \"last_name\": \"Tech\"\n        }\n    ],\n    \"count\": 1,\n    \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"unverified_user"},"http_code":{"type":"integer","example":403,"default":0},"http_message":{"type":"string","example":"Forbidden"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"verified":{"type":"boolean","example":false,"default":true},"email_address":{"type":"string","example":"user@example.com"},"phone":{"type":"string","example":"4444444444"},"first_name":{"type":"string","example":"Flume"},"last_name":{"type":"string","example":"Tech"}}}},"count":{"type":"integer","example":1,"default":0},"pagination":{}}}}}}},"deprecated":false,"security":[]}},"/users/{user_id}/devices/{device_id}/rules/usage-alerts":{"get":{"summary":"Fetch All Usage Alert Rules for a Device","description":"Fetch all usage alert rules.","operationId":"fetch-all-usage-alert-rules-for-a-device","parameters":[{"name":"user_id","in":"path","description":"ID of user","schema":{"type":"string"},"required":true},{"name":"device_id","in":"path","description":"ID of device","schema":{"type":"string"},"required":true},{"name":"limit","in":"query","description":"Max number of usage alerts to return","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Offset of usage alerts to return","schema":{"type":"integer","format":"int32","default":0}},{"name":"sort_field","in":"query","description":"Field to sort usage alerts by","schema":{"type":"string","default":"id"}},{"name":"sort_direction","in":"query","schema":{"type":"string","default":"ASC"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"code\": 602,\n    \"message\": \"Request OK\",\n    \"http_code\": 200,\n    \"http_message\": \"OK\",\n    \"detailed\": null,\n    \"data\": [\n        {\n            \"id\": \"1\",\n            \"name\": \"Low Flow\",\n            \"active\": true,\n            \"flow_rate\": 4.4,\n            \"duration\": 6,\n            \"notify_every\": 12\n        },\n        {\n            \"id\": \"2\",\n            \"name\": \"High Flow\",\n            \"active\": true,\n            \"flow_rate\": 15,\n            \"duration\": 10,\n            \"notify_every\": 60\n        }\n    ],\n    \"count\": 0,\n    \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":602,"default":0},"message":{"type":"string","example":"Request OK"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"1"},"name":{"type":"string","example":"Low Flow"},"active":{"type":"boolean","example":true,"default":true},"flow_rate":{"type":"number","example":4.4,"default":0},"duration":{"type":"integer","example":6,"default":0},"notify_every":{"type":"integer","example":12,"default":0}}}},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"message\": \"invalid_request\",\n  \"http_code\": 400,\n  \"http_message\": \"Bad Request\",\n  \"detailed\": [\n    \"The access token was not found\"\n  ],\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"invalid_request"},"http_code":{"type":"integer","example":400,"default":0},"http_message":{"type":"string","example":"Bad Request"},"detailed":{"type":"array","items":{"type":"string","example":"The access token was not found"}},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"message\": \"Caller does not have access to the information requested\",\n  \"http_code\": 403,\n  \"http_message\": \"Forbidden\",\n  \"detailed\": [\n    \"You do not have the access permissions to access this route\"\n  ],\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"Caller does not have access to the information requested"},"http_code":{"type":"integer","example":403,"default":0},"http_message":{"type":"string","example":"Forbidden"},"detailed":{"type":"array","items":{"type":"string","example":"You do not have the access permissions to access this route"}},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}}},"deprecated":false}},"/users/{user_id}/devices/{device_id}/rules/usage-alerts/{rule_id}":{"get":{"summary":"Fetch a Single Usage Alert Rule for a Device","description":"Fetch a single usage alert rule.","operationId":"fetch-a-single-usage-alert-rule-for-a-device","parameters":[{"name":"user_id","in":"path","description":"ID of user","schema":{"type":"integer","format":"int32"},"required":true},{"name":"device_id","in":"path","description":"ID of device","schema":{"type":"string"},"required":true},{"name":"rule_id","in":"path","description":"ID of rule","schema":{"type":"integer","format":"int32"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"code\": 602,\n    \"message\": \"Request OK\",\n    \"http_code\": 200,\n    \"http_message\": \"OK\",\n    \"detailed\": null,\n    \"data\": [\n        {\n            \"id\": \"1\",\n            \"name\": \"Low Flow\",\n            \"active\": true,\n            \"flow_rate\": 4.4,\n            \"duration\": 6,\n            \"notify_every\": 12\n        }\n    ],\n    \"count\": 0,\n    \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":602,"default":0},"message":{"type":"string","example":"Request OK"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"1"},"name":{"type":"string","example":"Low Flow"},"active":{"type":"boolean","example":true,"default":true},"flow_rate":{"type":"number","example":4.4,"default":0},"duration":{"type":"integer","example":6,"default":0},"notify_every":{"type":"integer","example":12,"default":0}}}},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"message\": \"invalid_request\",\n  \"http_code\": 400,\n  \"http_message\": \"Bad Request\",\n  \"detailed\": [\n    \"The access token was not found\"\n  ],\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"invalid_request"},"http_code":{"type":"integer","example":400,"default":0},"http_message":{"type":"string","example":"Bad Request"},"detailed":{"type":"array","items":{"type":"string","example":"The access token was not found"}},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"message\": \"Caller does not have access to the information requested\",\n  \"http_code\": 403,\n  \"http_message\": \"Forbidden\",\n  \"detailed\": [\n    \"You do not have the access permissions to access this route\"\n  ],\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"message":{"type":"string","example":"Caller does not have access to the information requested"},"http_code":{"type":"integer","example":403,"default":0},"http_message":{"type":"string","example":"Forbidden"},"detailed":{"type":"array","items":{"type":"string","example":"You do not have the access permissions to access this route"}},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": false,\n    \"code\": 610,\n    \"message\": \"Record could not be found\",\n    \"http_code\": 404,\n    \"http_message\": \"Not Found\",\n    \"detailed\": [\n        \"Record could not be found\"\n    ],\n    \"data\": [],\n    \"count\": 0,\n    \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"code":{"type":"integer","example":610,"default":0},"message":{"type":"string","example":"Record could not be found"},"http_code":{"type":"integer","example":404,"default":0},"http_message":{"type":"string","example":"Not Found"},"detailed":{"type":"array","items":{"type":"string","example":"Record could not be found"}},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}}},"deprecated":false}},"/users/{user_id}/usage-alerts":{"get":{"summary":"Fetch User Usage Alerts","description":"Fetch all usage alerts from devices owned by the user.","operationId":"fetch-user-usage-alerts","parameters":[{"name":"user_id","in":"path","description":"ID of the user","schema":{"type":"integer","format":"int32"},"required":true},{"name":"limit","in":"query","description":"How many usage alerts to return","schema":{"type":"integer","format":"int32","default":50}},{"name":"offset","in":"query","description":"Offset of usage alerts to return","schema":{"type":"integer","format":"int32","default":0}},{"name":"sort_field","in":"query","description":"Which field to sort usage alerts on","schema":{"type":"string","default":"id"}},{"name":"sort_direction","in":"query","description":"Which direction to sort usage alerts on","schema":{"type":"string","default":"ASC"}},{"name":"device_id","in":"query","description":"Return usage alerts created for the device with this specific device_id","schema":{"type":"string"}},{"name":"flume_leak","in":"query","description":"Returns usage alerts that were determined to be leaks by the Flume Smart Leak Rule.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true,\n  \"code\": 0,\n  \"message\": \"Request OK\",\n  \"http_code\": 200,\n  \"http_message\": \"OK\",\n  \"detailed\": null,\n  \"data\": [\n    {\n      \"id\": 4,\n      \"device_id\": \"6234820280525070850\",\n      \"triggered_datetime\": \"2017-03-06T10:00:00.000Z\",\n      \"flume_leak\": true,\n      \"query\": {\n        \"request_id\": \"TRIGGERED_USAGE_ALERT\",\n        \"since_datetime\": \"2017-03-05 23:00:00\",\n        \"until_datetime\": \"2017-03-06 10:00:00\",\n        \"tz\": \"America/Los_Angeles\",\n        \"bucket\": \"MIN\",\n        \"device_id\": [\n          \"6463194850930042705\"\n        ]\n      },\n      \"event_rule_name\": \"Flume Smart Leak Rule\"\n    },\n    {\n      \"id\": 5,\n      \"device_id\": \"6234820280525070850\",\n      \"triggered_datetime\": \"2017-03-06T10:00:00.000Z\",\n      \"flume_leak\": false,\n      \"query\": {\n        \"request_id\": \"TRIGGERED_USAGE_ALERT\",\n        \"since_datetime\": \"2017-03-05 23:00:00\",\n        \"until_datetime\": \"2017-03-06 02:00:00\",\n        \"tz\": \"America/Los_Angeles\",\n        \"bucket\": \"MIN\",\n        \"device_id\": [\n          \"6463194850930042705\"\n        ]\n      },\n      \"event_rule_name\": \"Custom Rule\"\n    }\n  ],\n  \"count\": 2,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":0,"default":0},"message":{"type":"string","example":"Request OK"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":4,"default":0},"device_id":{"type":"string","example":"6234820280525070850"},"triggered_datetime":{"type":"string","example":"2017-03-06T10:00:00.000Z"},"flume_leak":{"type":"boolean","example":true,"default":true},"query":{"type":"object","properties":{"request_id":{"type":"string","example":"TRIGGERED_USAGE_ALERT"},"since_datetime":{"type":"string","example":"2017-03-05 23:00:00"},"until_datetime":{"type":"string","example":"2017-03-06 10:00:00"},"tz":{"type":"string","example":"America/Los_Angeles"},"bucket":{"type":"string","example":"MIN"},"device_id":{"type":"array","items":{"type":"string","example":"6463194850930042705"}}}},"event_rule_name":{"type":"string","example":"Flume Smart Leak Rule"}}}},"count":{"type":"integer","example":2,"default":0},"pagination":{}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"code\": 94,\n  \"message\": \"A provided parameter failed validation\",\n  \"http_code\": 400,\n  \"http_message\": \"Bad Request\",\n  \"detailed\": [\n    \"Provide a positive limit\",\n    \"Provide a positive offset\",\n    \"Sort field [sort_field] is not a valid field\",\n    \"Sort direction is not a valid direction {ASC/DESC}\",\n    \"device with id [device_id] is not found\",\n    \"notification type [notification_type] is not valid\"\n  ],\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"code":{"type":"integer","example":94,"default":0},"message":{"type":"string","example":"A provided parameter failed validation"},"http_code":{"type":"integer","example":400,"default":0},"http_message":{"type":"string","example":"Bad Request"},"detailed":{"type":"array","items":{"type":"string","example":"Provide a positive limit"}},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}}},"deprecated":false}},"/users/{user_id}/devices/{device_id}/query/active":{"get":{"summary":"Get Current Flow Rate","description":"Check whether water is currently running.","operationId":"get-current-flow-rate","parameters":[{"name":"user_id","in":"path","description":"ID of the user","schema":{"type":"integer","format":"int32"},"required":true},{"name":"device_id","in":"path","description":"ID of the device","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"code\": 602,\n    \"message\": \"Request OK\",\n    \"http_code\": 200,\n    \"http_message\": \"OK\",\n    \"detailed\": null,\n    \"data\": [\n        {\n            \"active\": true,\n            \"gpm\": 0.78,\n            \"datetime\": \"2024-01-01 15:22:00\"\n        }\n    ],\n    \"count\": 1,\n    \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true},"code":{"type":"integer","example":602,"default":0},"message":{"type":"string","example":"Request OK"},"http_code":{"type":"integer","example":200,"default":0},"http_message":{"type":"string","example":"OK"},"detailed":{},"data":{"type":"array","items":{"type":"object","properties":{"active":{"type":"boolean","example":true,"default":true},"gpm":{"type":"number","example":0.78,"default":0},"datetime":{"type":"string","example":"2024-01-01 15:22:00"}}}},"count":{"type":"integer","example":1,"default":0},"pagination":{}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": false,\n  \"code\": 610,\n  \"message\": \"Record could not be found\",\n  \"http_code\": 404,\n  \"http_message\": \"Not Found\",\n  \"detailed\": null,\n  \"data\": [],\n  \"count\": 0,\n  \"pagination\": null\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"code":{"type":"integer","example":610,"default":0},"message":{"type":"string","example":"Record could not be found"},"http_code":{"type":"integer","example":404,"default":0},"http_message":{"type":"string","example":"Not Found"},"detailed":{},"data":{"type":"array"},"count":{"type":"integer","example":0,"default":0},"pagination":{}}}}}}},"deprecated":false}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":true},"x-readme-fauxas":true}